body{
    font-family: cursive;
    background-color: aquamarine;
    color: black;
}

.clock{
    margin-left: 40%; 
    margin-top: 10%;
     text-shadow: 2;
     font-size: 50px;
}
.clk{
    margin-left: 38%; 
     font-size: 60px;
}